
.fbrowse {
  background-color: lightgray;
  
  .fbrowse-outer {
    background-color: pink;
  }

  .fbrowse-inner {
    background-color: lightgreen;
  }

  .navbar {
    background-color: lightblue;
  }

  .bookmarks {
    background-color: yellow;
  }

  .files {
    background-color: white;
  }
}
