@import "./modules/clock/clock.scss";

/* Test */

.widget-bar-l {
  color: white;
  background-color: lightblue;
}

.widget-bar-m {
  color: white;
  background-color: lightgreen;
}

.widget-bar-r {
  color: white;
  background-color: pink;
}

.widget-bar { }
